{% extends 'menu.html' %}
    {% block title %}
    U_e_ajoutés
    {% endblock %}

{% block content %}
 <div class="container mt-5">
      <h1 >Presentation</h1>
      <section class="mb-4">
        <h3 class="text-primary">Objectif</h3>
         <p class="mt-4">Il s’agit de développer une application de gestion de collections, les éléments des collections
          pouvant être très divers.</p>
         <ul  >
        <li class="list-group-item" >
            Création des formations
        </li>
        <li class="list-group-item" >
            Gestion des formations
        </li>
        <li class="list-group-item" >
            Affichage des formations et les details associés
        </li>
       </ul>
      </section>
       <h3 class="text-primary">Technologies utilisés</h3>
       <ul class="list-group" >
        <li class="list-group-item" >Django</li>
        <li class="list-group-item" >docker</li>
       </ul>
    
</div>
</body>
</html>
{% endblock %}